/* ------------------- Button styles */
.btn
  position: relative
  display: inline-block
  vertical-align: middle
  min-width: 80px
  margin: 0
  padding: 8px 15px
  border: none
  background-color: $btn-bg-color
  border-radius: 0
  font: normal normal 14px/24px $site-font-family, Arial, sans-serif
  text-align: center
  text-decoration: none
  color: $btn-color
  outline: none
  cursor: pointer
  &:hover
    background-color: $btn-h-bg-color
    text-decoration: none
    color: $btn-h-color

  &.btn-max
    width: 100%

  &.btn-sm
    min-width: 60px
    padding: 5px 10px
    font-size: 12px

  &.btn-md
    min-width: 120px
    padding: 16px 25px
    font-size: 18px

  &.btn-lg
    min-width: 160px
    padding: 22px 30px
    font-size: 24px


.btn-icon
  .icon
    margin-left: 10px
    vertical-align: middle
  span
    display: inline-block
    vertical-align: middle


.btn-border
  border: 1px solid #000
  background: none
  color: #000
  line-height: 22px
  &:hover
    background-color: $btn-bg-color
    color: $btn-color
    border-color: $btn-bg-color

















