/* ------------------- Form styles */
.st-form
  margin: 20px 0

.form-group
  margin: 20px 0

.form-label-tt
  display: block
  margin: 10px 0

.form-group-inline
  display: flex
  justify-content: space-between
  align-items: center
  .form-label-tt
    min-width: 120px
    max-width: 120px
    line-height: 20px
    padding: 10px 0
    margin: 0

.placeholder
  color: #000

::-webkit-contacts-auto-fill-button
  opacity: 0

input,
textarea
  +placeholder-color(#000)
  border-radius: 0
  padding: 0 15px
  height: 40px
  position: relative
  outline: none
  font: 14px $site-font-family, Arial, sans-serif
  color: #000
  background-color: #fff
  border: 1px solid #e0e0e0
  &:hover
    border-color: #e0e0e0
  &:focus
    border-color: #e0e0e0

input[type="text"],
input[type="password"]
  width: 100%

textarea
  height: 130px
  width: 100%
  vertical-align: top
  padding: 10px 15px
  resize: none






