/*----------- Form sryle *
 ------------------------------------------------------------*/
.st-form
  margin: 0 0 20px

.form-group
  margin-bottom: 20px

.form-label-tt
  display: block
  margin-bottom: 10px

.form-group-inline
  .form-label-tt
    float: left
    width: 100px
    line-height: 20px
    padding: 10px 0
    margin-bottom: 0
  .form-inline-input
    margin-left: 110px

.placeholder
  color: #000

input,
textarea
  +placeholder-color(#000)
  border-radius: 0
  padding: 0 12px
  height: 40px
  position: relative
  outline: none
  font: 14px $site-font-family, Arial, sans-serif
  color: #000
  background-color: #fff
  border: 1px solid #e0e0e0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

input[type="text"],
input[type="password"]
  width: 100%

textarea
  height: 130px
  width: 100%
  vertical-align: top
  padding: 10px 12px
  resize: none

.search-form
  margin-bottom: 20px
  form
    position: relative
  .placeholder
    color: #444
  input
    height: 30px
    padding: 0 40px 0 10px
    +placeholder-color(#444)
    color: #000
    z-index: 1
  button
    position: absolute
    right: 0
    top: 0
    background: none
    border: 1px solid #000
    width: 30px
    height: 30px
    z-index: 2





@media only screen and (min-width: 980px)
  .search-form
    float: right
    width: 300px







