/* ------------------- Navigation */
.menu-open-wrapper-page
  overflow: hidden
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0
  #wrapper
    position: absolute
    top: 0
    left: 260px
    z-index: 2
  .footer
    opacity: 0
    margin-left: 260px

.menu-icon-wrap
  display: block
  cursor: pointer
  position: absolute
  left: 0
  top: 0
  width: 100%
  text-align: right
  z-index: 101

.menu-icon
  width: 34px
  position: absolute
  left: 15px
  top: 20px
  z-index: 101
  padding: 8px 0
  span
    display: block
    height: 3px
    background-color: #000
    position: relative
    &:before,
    &:after
      content: ' '
      position: absolute
      left: 0
      height: 3px
      background-color: #000
      width: 100%
    &:before
      top: -8px
    &:after
      bottom: -8px


.menu-wrapper-fixed
  left: -260px
  position: fixed
  top: 0
  transition: left 0.2s linear
  z-index: 100
  height: 100%
  min-width: 260px
  width: 260px

.menu-open-wrapper
  background-color: #030101
  padding: 20px
  height: 100%
  overflow: auto

.menu
  margin: 0
  padding: 0
  list-style: none
  >li
    margin: 15px 0
    padding: 0
    list-style-type: none
    font-size: 20px
    line-height: 24px
    color: #fff
    >a
      color: #fff
      text-decoration: none
      &:hover
        text-decoration: underline


/* ------------------- menu drop down */
.menu-dd-open-link
  color: #fff
  display: inline-block
  vertical-align: top
  cursor: pointer
  +select-text-none
  >span
    display: inline-block
    vertical-align: top

.menu-drop-down
  position: relative
  >ul
    display: none
    margin: 0
    padding: 5px 0 0
    list-style: none
    >li
      padding-left: 15px
      line-height: 20px
      margin: 10px 0
      position: relative
      >a
        color: #fff
        text-decoration: none
        font-size: 18px
        &:hover
          text-decoration: underline

.menu-dd-open
  >ul
    display: block
  .arrow-corner-bottom
    +corner-top(6px, 6px, 6px, #fff)
    border-bottom-color: #fff
    margin-left: 5px

.arrow-corner-bottom
  +corner-bottom(6px, 6px, 6px, #fff)
  border-top-color: #fff
  margin-left: 5px



/* ------------------- menu open mobile */
.menu-mobile-open
  .menu-wrapper-fixed
    left: 0
  .menu-icon-wrap
    position: fixed
    left: 260px
    top: 0
    width: 100%
    height: 100%
    padding: 15px 13px
    background-color: rgba(255, 255, 255, 0.7)
    transition: background 0.2s linear, left 0.2s linear
  .menu-icon
    left: 13px
    top: 20px
    background: none
    span
      background: none
      &:before,
      &:after
        transition: transform 0.2s linear
        transform-origin: 50% 50%
      &:before
        top: 0
        transform: rotate(45deg)
      &:after
        bottom: 0
        transform: rotate(-45deg)



/* Min width 480 pixels */
@media only screen and (min-width: 480px)
  .menu-open-wrapper-page
    #wrapper
      left: 360px
    .footer
      margin-left: 360px

  .menu-wrapper-fixed
    left: -360px
    width: 360px
    min-width: 360px

  .menu-mobile-open
    .menu-icon-wrap
      left: 360px
  /* end media min width 480 pexels */



/* Min width 1024 pixels */
@media only screen and (min-width: 1024px)
  .menu-open-wrapper-page
    overflow: visible
    position: relative
    height: auto
    width: auto
    top: 0
    left: 0
    #wrapper
      position: relative
      left: 0
      top: 0
      margin: 0
      transition: none
    .footer
      margin-left: 0
      opacity: 1

  .menu-wrapper-fixed
    position: relative
    left: 0
    top: 0
    height: auto
    transition: none
    width: 100%

  .menu-open-wrapper
    background: none
    padding: 0
    height: auto
    overflow: visible

  .menu-icon-wrap
    display: none

  .menu
    text-align: center
    background-color: #aaa
    >li
      display: inline-block
      vertical-align: middle
      margin: 0


  /* ------------------- menu drop down */
  .menu-drop-down
    &:hover
      >ul
        display: block
        position: absolute
        top: 100%
        width: 270px
        text-align: left
        background-color: #000
        padding: 15px 20px 10px 10px
    .arrow-corner-bottom
      display: none

  .menu-dd-open
    >ul
      display: none
  /* end media min width 1024 pixels */

