/* ----- Navigation -------------------- */
/* -- Bread crumbs ------------------ */
.bread-crumbs
  padding: 0
  list-style-type: none
  li
    display: inline-block
    vertical-align: middle
    margin: 0
    &:before
      content: '/ '
    &:first-child
      &:before
        display: none


/* -- Pagination -------------------- */
.pagination
  list-style-type: none
  li
    display: inline-block
    vertical-align: middle
    margin: 10px 5px
  a
    display: block
    width: 30px
    height: 30px
    border-radius: 2px
    background-color: #f3f3f3
    line-height: 30px
    text-align: center
    text-decoration: none
    &:hover
      background-color: #fc8a00
      color: #fff
  &__prev,
  &__next
    a
      width: auto
      height: auto
      border-radius: 0
      background: none
      &:hover
        background: none
        color: #000
  &__active
    a
      background-color: #fc8a00
      color: #fff


/* -- Main menu --------------------- */
.menu-open-wrapper-page
  overflow: hidden
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0

.burger-menu
  display: block
  position: absolute
  right: 5px
  top: 20px
  z-index: 101
  cursor: pointer
  border: 1px solid #000
  padding: 10px

.burger-menu-box
  display: block
  width: 30px
  padding: 8px 0

.burger-menu-inner
  display: block
  position: relative
  height: 3px
  background-color: #000
  border-radius: 3px
  transition: transform 75ms cubic-bezier(.55,.055,.675,.19)
  &:before,
  &:after
    content: ' '
    position: absolute
    left: 0
    height: 3px
    background-color: #000
    width: 100%
    border-radius: 3px
    transition-timing-function: ease
    transition-duration: .15s
    transition-property: transform
  &:before
    top: -8px
    transition: top 75ms ease .12s, opacity 75ms ease
  &:after
    bottom: -8px
    transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55,.055,.675,.19)

.menu-wrapper-fixed
  position: fixed
  top: 0
  z-index: 100
  height: 100%
  width: 100%
  left: -100%
  transition: left 0.4s cubic-bezier(0.000, 0.995, 0.990, 1.000)

.menu-open-wrapper
  padding: 20px
  height: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch
  transition: background 0.25s ease-out

.menu-burger--opened
  .burger-menu
    position: fixed
  .burger-menu-inner
    transition-delay: .12s
    transition-timing-function: cubic-bezier(.215,.61,.355,1)
    transform: rotate(45deg)
    &:before
      top: 0
      transition: top 75ms ease, opacity 75ms ease .12s
      opacity: 0
    &:after
      bottom: 0
      transition: bottom 75ms ease, transform 75ms cubic-bezier(.215,.61,.355,1) .12s
      transform: rotate(-90deg)

.menu-burger--opened
  .menu-wrapper-fixed
    left: 0
  .menu-open-wrapper
    background-color: #fc8a00
  .menu-item
    margin-left: 0
    &:nth-of-type(1)
      transition-delay: 0s
    &:nth-of-type(2)
      transition-delay: 0.06s
    &:nth-of-type(3)
      transition-delay: 0.12s
    &:nth-of-type(4)
      transition-delay: 0.18s
    &:nth-of-type(5)
      transition-delay: 0.24s
    &:nth-of-type(6)
      transition-delay: 0.30s
    &:nth-of-type(7)
      transition-delay: 0.36s
    &:nth-of-type(8)
      transition-delay: 0.42s
    &:nth-of-type(9)
      transition-delay: 0.48s
    &:nth-of-type(10)
      transition-delay: 0.54s


.header-nav
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  min-height: 100%

.menu
  margin: 0
  padding: 0
  list-style: none

.menu-item
  position: relative
  margin-top: 20px
  margin-bottom: 20px
  padding: 0
  list-style-type: none
  font-size: 20px
  line-height: 24px
  color: #fff
  margin-left: -100%
  transition: all 0.4s cubic-bezier(0.000, 0.995, 0.990, 1.000)
  &__link
    color: #fff
    text-decoration: none
    &:hover
      color: #fff


/* - Drop down main menu -------- */
.menu-item__link--dd-open
  &:after
    content: ' '
    +corner-bottom(5px, 5px, 5px, #fff)
    border-top-color: #fff
    margin: 0 0 0 10px

.menu-dd
  display: none
  margin: 0
  padding: 5px 0 0
  list-style: none

.menu-dd-item
  line-height: 20px
  margin: 10px 0
  position: relative
  &__link
    color: #fff
    text-decoration: none
    font-size: 18px
    &:hover
      color: #fff

.menu-item--dd-opened
  .menu-dd
    display: block
  .menu-item__link--dd-open
    &:after
      transform: rotate(180deg)


/* Min width 1024 pixels */
@media only screen and (min-width: 1024px)
  .menu-open-wrapper-page
    overflow: visible
    position: relative
    height: auto
    width: auto

  .menu-wrapper-fixed
    position: relative
    left: 0
    top: 0
    height: auto
    transition: none
    width: 100%

  .menu-open-wrapper
    background: none
    padding: 0
    height: auto
    overflow: visible

  .burger-menu
    display: none

  .header-nav
    display: block

  .menu
    text-align: left
    background-color: #fc8a00
    border-radius: 5px

  .menu-item
    display: inline-block
    vertical-align: middle
    margin: 0
    &__link
      display: block
      padding: 10px 15px
      &:hover
        background-color: darken(#fc8a00, 5%)

  /* - Drop down main menu -------- */
  .menu-item--dd-opened
    .menu-dd
      display: none
    .menu-item__link--dd-open
      &:after
        transform: rotate(0)

  .menu-dd
    position: absolute
    display: none
    top: 100%
    width: 270px
    text-align: left
    background-color: darken(#fc8a00, 5%)
    padding: 10px 15px
    border-radius: 0 0 5px 5px

  .menu-dd-item
    margin: 15px 0
    &__link
      &:hover
        text-decoration: underline

  .menu-item
    &:hover
      .menu-item__link
        background-color: darken(#fc8a00, 5%)
      .menu-dd
        display: block
  /* end media min width 1024 pixels */


/* ----- END Navigation ---------------- */
/*                                       */
/*                                       */