/*----------- Page structur *
 ------------------------------------------------------------*/
html, body
  height: 100%

.clear 
  clear: both
.group:after 
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

#wrapper
  position: relative
  overflow: hidden
  min-width: 320px

.container
  padding: 0 15px
  max-width: 960px
  margin: 0 auto

.soc-icons
  a
    display: inline-block
    vertical-align: middle
    width: 20px
    height: 20px
    margin-right: 5px
    border: 1px solid #000
// .soc-vk-icon
//   background: url(../img/soc-vk.png) 0 0 no-repeat
// .soc-tw-icon
//   background: url(../img/soc-tw.png) 0 0 no-repeat
// .soc-fb-icon
//   background: url(../img/soc-fb.png) 0 0 no-repeat

.half-wrapper-bl
  .half-one-bl
    float: left
    width: 50%
    padding-right: 10px
  .half-two-bl
    float: right
    width: 50%
    padding-left: 10px



/*----------- header *
 ------------------------------------------------------------*/
.header
  position: relative
  background-color: #fff

.logo
  float: left
  margin: 0 20px 20px 0


/*----------- Footer *
 ------------------------------------------------------------*/
.footer
  width: 100%
  position: relative
  .container
    overflow: hidden




































