/* ------------------- Typography */
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  width: 100%
  margin: 0
  padding: 0
  background-color: #fff
  font: $site-text-size $site-font-family, Arial, sans-serif
  line-height: 20px
  color: $site-text-color

h1, .site-h1-tt, h2, .site-h2-tt, h3, .site-h3-tt, h4, .site-h4-tt, h5, .site-h5-tt, h6, .site-h6-tt
  display: block
  margin: 20px 0
  padding: 0
  font-family: $site-font-family, Arial, sans-serif
  font-weight: 700
  line-height: 1.2em
  color: $site-title-color

h1, .site-h1-tt
  font-size: $site-h1-size-mobile

h2, .site-h2-tt
  font-size: $site-h2-size-mobile

h3, .site-h3-tt
  font-size: $site-h3-size-mobile

h4, .site-h4-tt
  font-size: $site-h4-size-mobile

h5, .site-h5-tt
  font-size: $site-h5-size-mobile

h6, .site-h6-tt
  font-size: $site-h6-size-mobile

ul, ol
  margin: 20px 0
  padding: 0
  list-style-position: inside

li
  margin: 10px 0
  padding: 0

p
  margin: 20px 0

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

.text-uppercase
  text-transform: uppercase

img
  vertical-align: middle
  max-width: 100%

a
  color: $color-link
  text-decoration: underline
  &:hover
    text-decoration: none
    color: $color-h-link

.st-inner-block-text
  margin: 40px 0
  border: 1px solid #000



/* Min width 768 pixels */
@media only screen and (min-width: 768px)
  h1, .site-h1-tt
    font-size: $site-h1-size

  h2, .site-h2-tt
    font-size: $site-h2-size

  h3, .site-h3-tt
    font-size: $site-h3-size

  h4, .site-h4-tt
    font-size: $site-h4-size

  h5, .site-h5-tt
    font-size: $site-h5-size

  h6, .site-h6-tt
    font-size: $site-h6-size

  /* end media min width 768 pixels */








