  <!-- header -->
  <header id="header" class="header">
    <div class="container">
      <div class="group">
        <div class="logo"><a href="#"><img src="img/logo.png" alt=""></a></div>

        <div class="search-form">
          <form action="#">
            <input type="text" placeholder="Search">
            <button type="button" class="icon-search"></button>
          </form>
        </div>
      </div>


      <div class="head-menu">
        <span class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>

        <div class="menu-wrapper-fixed">
          <div class="menu-open-wrapper">

            <nav class="header-nav">
              <ul class="menu">
                <li class="menu-drop-down">
                  <span class="menu-dd-open-link">
                    <span>О КОМПАНИИ</span>
                    <i class="arrow-corner-bottom"></i>
                  </span>
                  <ul>
                    <li><a href="#">Миссия</a></li>
                    <li><a href="#">Команда</a></li>
                    <li><a href="#">Партнеры</a></li>
                    <li><a href="#">Инвесторам и партнерам</a></li>
                    <li><a href="#">Документы</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Реквизиты</a></li>
                  </ul>
                </li>
                <li class="menu-drop-down">
                  <span class="menu-dd-open-link">
                    <span>ПРОДУКЦИЯ</span>
                    <i class="arrow-corner-bottom"></i>
                  </span>
                  <ul>
                    <li>
                      <a href="#">Техническая продукция</a>
                    </li>
                    <li>
                      <a href="#">Художественные изделия</a>
                    </li>
                  </ul>
                </li>
                <li><a href="#">УСЛУГИ</a></li>
                <li><a href="#">ЗАКАЗ</a></li>
                <li><a href="#">ПРОИЗВОДСТВО</a></li>
                <li><a href="#">КОНТАКТЫ</a></li>
              </ul>
            </nav>

          </div>
        </div>
      </div>

    </div>
  </header>
  <!-- end header -->