<header id="header" class="header">
  <div class="container">
    <div class="group">

      <div class="head-menu">
        <span class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>

        <div class="menu-wrapper">
          <ul class="menu">
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
            <li><a href="#">Item 4</a></li>
            <li><a href="#">Item 5</a></li>
          </ul>
        </div>
      </div>

      <div class="soc-icons">
        <a href="#" class="soc-vk-icon"></a>
        <a href="#" class="soc-tw-icon"></a>
        <a href="#" class="soc-fb-icon"></a>
      </div>

    </div>
  </div>
</header><!--header-->