  <!-- header -->
  <header id="header" class="header">
    <div class="container">
      <div class="group">
        <div class="logo"><a href="#"><img src="img/logo.png" alt=""></a></div>

        <div class="search-form">
          <form action="#">
            <input type="text" placeholder="Search">
            <button type="button" class="icon-search"></button>
          </form>
        </div>
      </div>


      <div class="head-menu">
        <div class="menu-icon-wrap">
          <span class="menu-icon">
            <span></span>
          </span>
        </div>

        <div class="menu-wrapper-fixed">
          <div class="menu-open-wrapper">

            <nav class="header-nav">
              <ul class="menu">
                <li class="menu-drop-down">
                  <span class="menu-dd-open-link">
                    <span>О пришельцах</span>
                    <i class="arrow-corner-bottom"></i>
                  </span>
                  <ul>
                    <li><a href="#">Скользкие</a></li>
                    <li><a href="#">С щупальцами</a></li>
                    <li><a href="#">Блондины</a></li>
                    <li><a href="#">Один глаз больше второго</a></li>
                    <li><a href="#">Похожи на раздолбанный манго во время месячных</a></li>
                    <li><a href="#">Носят парик</a></li>
                    <li><a href="#">Хотят казаться добрыми блондинами</a></li>
                  </ul>
                </li>
                <li class="menu-drop-down">
                  <span class="menu-dd-open-link">
                    <span>Корабль</span>
                    <i class="arrow-corner-bottom"></i>
                  </span>
                  <ul>
                    <li>
                      <a href="#">Летает</a>
                    </li>
                    <li>
                      <a href="#">Похож на граненный стакан</a>
                    </li>
                    <li>
                      <a href="#">С гусиницами</a>
                    </li>
                    <li>
                      <a href="#">И одним колесом</a>
                    </li>
                    <li>
                      <a href="#">Розовый</a>
                    </li>
                    <li>
                      <a href="#">Покрыт кожой людей</a>
                    </li>
                    <li>
                      <a href="#">И волосами</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-drop-down">
                  <span class="menu-dd-open-link">
                    <span>Зачем прилетели?</span>
                    <i class="arrow-corner-bottom"></i>
                  </span>
                  <ul>
                    <li>
                      <a href="#">За солью</a>
                    </li>
                    <li>
                      <a href="#">За гречей</a>
                    </li>
                    <li>
                      <a href="#">И девственницами</a>
                    </li>
                  </ul>
                </li>
                <li><a href="#">Договорились на обмен</a></li>
                <li><a href="#">В замен нам нужны технологии</a></li>
                <li><a href="#">И яйцеклетки самок</a></li>
              </ul>
            </nav>

          </div>
        </div>
      </div>

    </div>
  </header>
  <!-- end header -->