// typography var
$site-text-size: 14px
$site-font-family: Tahoma
$site-font-family-2: 'PT Sans'
$site-font-family-3: 'Roboto'
$site-font-family-4: 'Open Sans'
$site-text-color: #000
$site-title-color: #000

$site-h1-size: 30px
$site-h2-size: 26px
$site-h3-size: 22px
$site-h4-size: 18px
$site-h5-size: 16px

$site-h1-size-mobile: 26px
$site-h2-size-mobile: 22px
$site-h3-size-mobile: 20px
$site-h4-size-mobile: 18px
$site-h5-size-mobile: 16px

$color-link: #4a93df
$color-h-link: darken($color-link, 20%)

// btn var
$btn-bg-color: #0c549f
$btn-color: #fff

$btn-border-color: #c1d2e4
$btn-border-text-color: #5d83ab
$btn-border-bg: #fff

//btn hover
$btn-h-bg-color: darken($btn-bg-color, 10%)
$btn-h-color: $btn-color

$btn-h-border-color: $btn-border-color
$btn-h-border-text-color: $btn-border-text-color
$btn-h-border-bg: darken($btn-border-bg, 10%)

//btn active
$btn-act-bg-color: #0c549f
$btn-act-color: #fff
$btn-act-shadow: inset 5.1px 6.1px 8px rsgba(2, 0, 0, 0.26)

$btn-act-border-color: none
$btn-act-border-text-color: #fefefe
$btn-act-border-bg: #0c549f
$btn-act-border-shadow: inset 5.1px 6.1px 8px rgba(2, 0, 0, 0.26)

//table
$table-border-color: #666
$table-th-bg-color: #c1c1c1
$table-td-bg-color: #f7f7f7
$table-th-border-color: #444
$table-td-border-color: #444